# Flask Settings
FLASK_ENV=development
FLASK_APP=run
SECRET_KEY=replace-with-a-secure-generated-key-string

# Database configuration parameters (MySQL local instance)
#DB_USER=root
#DB_PASSWORD=sql@0609
#DB_HOST=localhost
#DB_PORT=3306
#DB_NAME=crescent_chique_db

# Alternative: Direct Connection URL
FLASK_ENV=development

DATABASE_URL=postgresql://neondb_owner:replace-with-your-password@ep-lucky-sky-aomnx4u2.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# Flask-Mail configuration parameters
MAIL_SERVER=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_USE_TLS=False
MAIL_DEFAULT_SENDER=no-reply@crescentchique.com

