# Flask Settings
FLASK_ENV=development
FLASK_APP=run.py
SECRET_KEY=replace-with-a-secure-generated-key-string

# Database configuration parameters (MySQL local instance)
#DB_USER=root
#DB_PASSWORD=sql@0609
#DB_HOST=localhost
#DB_PORT=3306
#DB_NAME=crescent_chique_db

# Alternative: Direct Connection URL
FLASK_ENV=development

DATABASE_URL=postgresql://YOUR_CONNECTION_STRING

# Flask-Mail configuration parameters
MAIL_SERVER=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_USE_TLS=False
MAIL_DEFAULT_SENDER=no-reply@crescentchique.com

