# Environments
.env
.venv
env/
venv/
ENV/
*.env

# Python Caches & Compiled bytecode
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Flask & SQLAlchemy
instance/
.webassets-cache
*.db
*.sqlite

# IDE & Editor Settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db

# Production database backups
backups/

# Secret File
SECRETS.md